.container {
    margin-top: 20px;
    display: flex;
    column-gap: 70px;
    align-items: flex-start;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.leftColumn {
    width: 520px;
}